.sot-coin, .sot-iron, .sot-bread, .sot-wheat, .sot-str, .sot-oil, .sot-steel, .sot-aluminum, .sot-uranium {
  width: 25px;
  padding: 0px;
  margin: 0px auto;
  vertical-align: middle;
}

.sot-coin {
  content: url('../images/assets/coin.svg');
}

.sot-iron {
  content: url('../images/assets/iron.svg');
}

.sot-bread {
  content: url('../images/assets/bread.svg');
}

.sot-wheat {
  content: url('../images/assets/wheat.svg')
}

.sot-str {
  content: url('../images/assets/strong.svg');
}

.sot-oil {
  content: url('../images/assets/oil.svg');
}

.sot-uranium {
  content: url('../images/assets/uranium.svg');
}

.sot-aluminum {
  content: url('../images/assets/aluminum.svg');
}

.sot-steel {
  content: url('../images/assets/steel.svg');
}